<template name="checkOut">
	<section class="checkout">
    	<div class="wrapper-checkout">
            <div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p class="p-title">
								Add $26.01 for FREE Shipping. <a href="">See details</a>
							</p>
						</div>
						<div class="panel-body">
							<h4 class="title-product">Subtotal (1 item): <a class="price" href="#">$8.99</a></h4>
							<div class="checkbox">
							  <label><input type="checkbox" value="">This order contains a gift </label>
							</div>
							<button type="button" class="btn_checkout btn-block"> Proceed to checkout </button>
						</div>
						<div class="panel-footer">
							<a href="">
								<span>2 type of transportation available</span>
							</a>
						</div>
					</div>
				</div> <!-- col-xs-12 -->
			</div> <!-- row -->
        </div>
		<div class="checkout-detail">
			<div class="col-xs-4"> 
				<img src="img/photo.jpg" class="img-circle">
			</div>
			<div class="col-xs-8">
				<h4 class="title-product">Product title can display only two line maximum.... </h4>
				<h4 class="price-product">$17.00</h4>
				<p class="date">In stock on March 10, 2016</p>
				<p class="free">Free Shipping</p>
			</div>
			<div class="col-xs-12">
				<div class="bs-example">
					<div class="" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn dropdown-toggle btn-checkout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    1
					    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li><a href="#">1</a></li>
					      <li><a href="#">2</a></li>
					    </ul>
					  </div>
					  <button type="button" class="btn btn-checkout">Delete</button>
					  <button type="button" class="btn btn-checkout">Save for later</button>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12">
				<p class="text-center color-gray">Get $50 gift card upon approval for the <br> Amazon.com Reward Visa Card</p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="wrapper">
			<h4 class="title-product text-center">Costumer Who Bought Items In Your Cart Also Bought</h4>
			<div class="row">
				<div class="swiper-container-checkout">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
						<div class="swiper-slide">
							<div class="thumbnail">
                                <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                <div class="caption"> 
                                    <p class="text-center">Product title can display only two line maximum....</p> 
                                    <h3 class="text-center price">21,00€</h3>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-checkout btn-block"><span class="pull-left">Continou Shopping</span> <i class="fa fa-angle-right pull-right"></i></button>
		</div>
    </section>																	
</template>