<template name="detail">
	<article>
	    <section class="shadow_bottom">
	    	<div class="wrapper">
	            <div class="row">
	              	<div class="col-sm-12">
						<h1>page detail </h1>
		                <h3 class="pull-right">Product Title</h3>
	              	</div>
				  	<!-- <div class="test_color">
						<div class="choose_color">COLOR</div>
						<div>SIZE</div>
				  	</div> -->
				  	 <div class="main_color">
							<div>
								<p class="toggle">COLOR</p>
								<div style="display: none;" class="bg-white">
									<ul class="list-inline">
										<li><a href="" ><i class="fa fa-circle fa-2x color1"></i></a></li>
										<li><a href="" ><i class="fa fa-circle fa-2x color2"></i></a></li>
										<li><a href="" ><i class="fa fa-circle fa-2x color3"></i></a></li>
										<li><a href="" ><i class="fa fa-circle fa-2x color4"></i></a></li>
										<li><a href="" ><i class="fa fa-circle fa-2x color5"></i></a></li>
										<li><a href="" ><i class="fa fa-circle fa-2x color6"></i></a></li>
										<li><a href="" ><i class="fa fa-circle fa-2x color7"></i></a></li>
										<li><a href="" ><i class="fa fa-circle fa-2x color8"></i></a></li>
									</ul>
								</div>
							</div>
							<div>
								<p class="toggle">SIZE</p>
								<div style="display: none;" class="bg-white">
									<div class="fourcol text-center"><p>50 cl</p></div>
									<div class="fourcol text-center"><p>1 L</p></div>
									<div class="fourcol text-center"><p>1,50 L</p></div>
									<div class="fourcol text-center"><p>2 L</p></div>
								</div>
							</div>
						  </div>
	              	<div class="space-top-detail1">
	                  	<img src="img/cream.png" class="img-responsive">
	              	</div>
	              	<div class="col-sm-12">
	                	<button class="btn_addtocard pull-left">Add to cart</button>
	                	<h2 class="pull-right">14$</h2>
	              	</div>
	            </div>

	            <div class="row">
	             <div class="col-sm-12">
	               <div class="well-deatail">
	                    <p class="text-center text-detail">Rouge Allure invente Rouge Allure Velvet : le rouge velours lumineux. Rouge Allure Velvet initie une autre façon de porter du rouge à lèvres. Une alternative à la brillance.</p>
	                </div>
	             </div>
	            </div>
	        </div>
	    </section>

	    <section class="shadow_bottom">
	        <div class="wrapper">

	            <div class="row">
	               	<div class="pull-right">
	                   	<img src="img/filter-img.png" class="img-responsive space-top-img1">
	               	</div>
	               	<div class="col-sm-12">
	                  	<div class="col-md-6 pull-left space-top-detail2">
	                   		<img src="img/sm-girl.png" class="img-responsive">
	                  	</div>
	                   	<div class="col-md-6 pull-left space-top-detail2">
	                     	<h4>Sarah</h4>
	                     	<p class="no-margin">07-20-2015</p>
	                     	<p class="no-margin">11:16</p>
	                  	</div>
	               	</div>
	            </div>
	            <div class="col-sm-12">
	              	<div class="space-comment">
	                 	<textarea class="form-control" rows="7" placeholder="Write what you want ..."></textarea>
	               	</div>
	               	<button class="btn_register pull-right">SEND</button>
	            </div>

	            <div class="clear-fix"></div>

	            <div class="row">
	               	<div class="col-sm-12">
	                  	<div class="col-sm-5 pull-left space-top-detail2">
	                   		<img src="img/sm-girl.png" class="img-responsive">
	                  	</div>
	                   	<div class="col-sm-5 pull-left space-top-detail2">
	                     	<h4>Sarah</h4>
	                     	<p class="no-margin">07-20-2015</p>
	                     	<p class="no-margin">11:16</p>
	                  	</div>
	                  	<div class="col-sm-2 pull-right space-top-detail2">
	                   		<h3><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp;19</h3> 
	                  	</div>
	                  	<div class="col-sm-12">
	                     	<p class="pull-left space-top-detail3">Take me your advice blah blajdklazld ldjalk dlkazn zjd bazkj bdjbza daz ndakzndkajbdkjab djkzabd bazdbaznbdabd,abdaz Take me your advice blah blajdklazld ldjalk dlkazn zjd</p>
	                     	<div class="pull-left border-detail"></div>
	                  	</div>
	               	</div>  
	            </div>

	            <div class="row">
	               	<div class="col-sm-12">
	                  	<div class="col-sm-5 pull-left space-top-detail2">
	                   		<img src="img/sm-girl.png" class="img-responsive">
	                  	</div>
	                   	<div class="col-sm-5 pull-left space-top-detail2">
	                     	<h4>Sarah</h4>
	                     	<p class="no-margin">07-20-2015</p>
	                     	<p class="no-margin">11:16</p>
	                  	</div>
	                  	<div class="col-sm-2 pull-right space-top-detail2">
	                   		<h3><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp;19</h3> 
	                  	</div>
	                  	<div class="col-sm-12">
	                     	<p class="pull-left space-top-detail3">Take me your advice blah blajdklazld ldjalk dlkazn zjd bazkj bdjbza daz ndakzndkajbdkjab djkzabd bazdbaznbdabd,abdaz Take me your advice blah blajdklazld ldjalk dlkazn zjd</p>
	                     	<div class="pull-left border-detail"></div>
	                  	</div>
	               </div>  
	            </div>

	            <div class="row">
	               	<div class="col-sm-12">
	                  	<div class="col-sm-5 pull-left space-top-detail2">
	                   		<img src="img/sm-girl.png" class="img-responsive">
	                  	</div>
	                   	<div class="col-sm-5 pull-left space-top-detail2">
	                     	<h4>Sarah</h4>
	                     	<p class="no-margin">07-20-2015</p>
	                     	<p class="no-margin">11:16</p>
	                  	</div>
	                  	<div class="col-sm-2 pull-right space-top-detail2">
	                   		<h3><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp;19</h3> 
	                  	</div>
	                  	<div class="col-sm-12">
	                     	<p class="pull-left space-top-detail3">Take me your advice blah blajdklazld ldjalk dlkazn zjd bazkj bdjbza daz ndakzndkajbdkjab djkzabd bazdbaznbdabd,abdaz Take me your advice blah blajdklazld ldjalk dlkazn zjd</p>
	                     	<div class="pull-left border-detail"></div>
	                  	</div>
	               </div>  
	            </div>
	        </div>
	    </section>
	</article>
</template>