<template name="forummenu">
	<div class="col-xs-12">
		<div class="row">
			<div class="hold_refine">
	            <ul class="refine_menu list-inline">
	            	<div class="col-xs-6">
	            		<li class="active">
			                <a href="#" id="makeup">TOPIC <i class="fa fa-caret-down"></i></a>
			            </li>
	            	</div>
			        <div class="col-xs-6">
			        	<li>
			            	<a href="" id="all_makeup">CREATE TOPIC <i class="fa fa-caret-down"></i></a>
			            </li>
			        </div>
	            </ul>
	            <div id="panel_makeup">
		            <ul class="make-up">
		                <li><a href="">MOST RECENT TOPIC</a></li>
		                <li><a href="">BEAUTY INSIDER</a></li>
		                <li><a href="">MAKEUP</a></li>
		                <li><a href="">SKINCARE</a></li>
		                <li><a href="">FRAGRANCE</a></li>
		                <li><a href="">HAIR</a></li>
		                <li><a href="">BRIGHT IDEAS</a></li>
		                <li><a href="">THE LOUNGE</a></li>
		                <li><a href="">CUSTOMER SERVICE</a></li>
		                <li><a href="">WELCOME / GETTING STARTED</a></li>
		            </ul>
	            </div>
	            <div id="panel_all_makeup" style="display: none;">
	            	<h5 class="h5">CHOOSE A TOPIC FOR CREATE A DISCUSSION</h5>
	            	<div class="u-vmenu">
						<ul>
							<li><a href="#">HAIR</a></li>
							<li><a href="#">FRAGRANCE</a></li>
							<li><a href="#">SKINCARE</a></li>
							<li><a href="#">MAKEUP</a></li>
							<li><a href="#">BEAUTY INSIDER</a></li>
							<li><a href="#">BRIGHT IDEAS</a></li>
							<li><a href="#">THE LOUNGE</a></li>
							<li><a href="#">CUSTOMER SERVICE</a></li>
							<li><a href="">WELCOME / GETTING STARTED</a></li>
						</ul>
					</div>
	            </div>
	        </div>
		</div>
    </div>
</template>