<template name="lift">
	<!-- starting section contents -->
    <section>
        <div class="row">
            <div class="mar-control-all-contents">
                <h2>Are you looking for<br/>an immediate ‘lift ’ effect?</h2>
                <div class="col-xs-6 col-md-6 col-lg-4 text-center">
                    <h5 class="red">“INSTANT FACE LIFT”</h5>
                    <div class="thumbnail">
                        <img class="img-pro" src="img/menu1.png">
                    </div>
                    <label><h3>21,00€</h3></label>
                    <span><img class="img-heart" src="img/heart-image.png"></span>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-4 text-center">
                    <h5 class="red">“5-SECOND EYE LIFT”</h5>
                    <div class="thumbnail">
                        <img class="img-pro" src="img/menu1.png">
                    </div>
                    <label><h3>21,00€</h3></label>
                    <span><img class="img-heart" src="img/heart-image.png"></span>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-4 text-center">
                    <h5 class="red">“INSTANT RADIANCE PLUS”</h5>
                    <div class="thumbnail">
                        <img class="img-pro" src="img/menu1.png">
                    </div>
                    <label><h3>21,00€</h3></label>
                    <span><img class="img-heart" src="img/heart-image.png"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mar-control-all-contents">
                <h2>Other questions ....</h2>
                <div class="col-xs-6 col-md-6 col-lg-4 text-center">
                    <h5 class="red">“INSTANT FACE LIFT”</h5>
                    <div class="thumbnail">
                        <img class="img-pro" src="img/menu1.png">
                    </div>
                    <label><h3>21,00€</h3></label>
                    <span><img class="img-heart" src="img/heart-image.png"></span>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-4 text-center">
                    <h5 class="red">“5-SECOND EYE LIFT”</h5>
                    <div class="thumbnail">
                        <img class="img-pro" src="img/menu1.png">
                    </div>
                    <label><h3>21,00€</h3></label>
                    <span><img class="img-heart" src="img/heart-image.png"></span>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-4 text-center">
                    <h5 class="red">“INSTANT RADIANCE PLUS”</h5>
                    <div class="thumbnail">
                        <img class="img-pro" src="img/menu1.png">
                    </div>
                    <label><h3>21,00€</h3></label>
                    <span><img class="img-heart" src="img/heart-image.png"></span>
                </div>
            </div>
        </div>
    </section><!-- at the end of section contents -->
</template>