<template name="login">
	<article>
        <section class="img-bg-login">
        	<div class="wrapper">
                <div class="row">
                    <div class="form-login">
                        <div class="text-center btn-re-log">
                            <!-- <button class="btn btn-log-white"><a href="">Login</a></button>
                            <strong class="joiner">or</strong>
                            <button class="btn btn-register"><a href="/register">Register</a></button> -->
                            <ul class="list-inline">
                                <li><a href="/login"><button class="btn btn-log-white">Login</button></a></li>
                                <li>or</li>
                                <li><a href="/register"><button class="btn btn-register">Register</button></a></li>
                            </ul>
                        </div>
                        <form class="form-horizontal mar-log">
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">Username</label>
                                <div class="controls">
                                    <input type="text" id="inputEmail" placeholder="">
                                </div>
                              </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword">Password</label>
                                <div class="controls">
                                    <input type="text" id="inputEmail" placeholder="">
                                </div>
                              </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-red">Sign in</button>
                                </div>
                                <div class="controls pull-right">
                                    <label class="text_decoration">Forgot your password ?</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </article>
</template>