<template name="discuss2">
	<article>
        <section class="shadow_bottom">
        	<div class="wrapper">
                <div class="row">
					<div class="col-xs-12">
						<h4>MAKEUP DISCUSSION</h4>
                        <div class="hold-click-each-comment">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img src="img/woman.png" class="img-responsive">
                                </div>
                                <div class="col-xs-8">
                                    <p class="p-usr-name">Sarah</p>
                                    <div class="timer">
                                        <ul class="list-inline">
                                            <li>07 20 2015</li>
                                            <li>11:16 PM</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <hr class="hr-usr">
                            <ul class="list-inline subcat">
                                <li class="li-choose-category">Choose a subcategory:</li>
                                <li class="active li-bg">
                                    <a href="">Palettes & Value Sets</a>
                                </li>
                                <li class="li-bg">
                                    <a href="">Face makeup</a>
                                </li>
                                <li class="li-bg">
                                    <a href="">Eye makeup</a>
                                </li>
                                <li class="active li-bg">
                                    <a href="">Nails</a>
                                </li>
                                <li class="li-bg">
                                    <a href="">Lips</a>
                                </li>
                            </ul>
                            <div class="hold-object">
                                <ul class="list-inline">
                                    <li class="object-comment">OBJECT:</li>
                                    <li class="object-comment-name">WEEKLY COLOR CHALLENGE! COME JOIN!</li>
                                </ul>
                                <textarea rows="20" cols="200" placeholder="Write what you want..." style="background-color: #ebebeb;border: 0px;"></textarea>
                                <div class="clearfix"></div>
                                <div class="block-comment">
                                    <label><a href=""><img src="img/edit-text.png"></a></label>
                                    <label><a href=""><img src="img/attach-file.png"></a></label>
                                    <button class="pull-right">SEND</button>
                                </div>
                            </div>
                        </div><!-- hold-click-each-comment -->
					</div> <!-- col-xs-12 -->
				</div> <!-- row -->
            </div>
        </section>
    </article>
</template>