<template name="descuss1">
	<article>
        <section class="shadow_bottom">
        	<div class="wrapper">
                <div class="row">
					<div class="col-xs-12">
						<h4>MAKEUP DISCUSSION</h4>
                        <div class="sub-tabs">
                            <div class="row">
                                <ul class="list-inline">
                                    <li>
                                        <a href="">LIKES</a>
                                    </li>
                                    <li>
                                        <a href="">NEWS</a>
                                    </li>
                                    <li>
                                        <a href="">PEOPLE WITH SIMILAR PROFIL</a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- sub-tabs -->
                        <div class="hold-each-comment">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row-->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-->
                        <div class="hold-each-comment-bg">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-bg -->
                        <div class="hold-each-comment">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-->
                        <div class="hold-each-comment-bg">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-bg -->
                        <div class="hold-each-comment">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-->
                        <div class="hold-each-comment-bg">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-bg -->
                        <div class="hold-each-comment">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-->
                        <div class="hold-each-comment-bg">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-bg -->
                        <div class="hold-each-comment">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="img/woman.png" class="">
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment">WEEKLY COLOR CHALLENGE! COME JOIN!</p>
                                    <p class="desc-comment">mrsbaine / HALL OF FARMER  HALL OF FARMER</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li>22 reply</li>
                                            <li>07-20-2015 11:16</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row -->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-->
					</div> <!-- col-xs-12 -->
				</div> <!-- row -->
            </div>
        </section>
    </article>
</template>