<template name="profile">
    <article style="height:550px;"> <!-- start container -->
    	<div class="wrapper" style="margin-top: 50px;">

              <div>
              	<div class="col-xs-4">
                     <img src="img/img-profile.png" class="img-responsibve">
               	</div>

	            <div class="col-xs-8">
	                <h2 style="margin:0 auto;">Arthurrr</h2>
	                <h5 style="margin:0 auto;">USERNAME</h5>
	                <h2>50 pt</h2>
	            </div>
              </div>

              <div>
                <hr style="border:1px solid #000;">
              </div>

              <div class="col-xs-12">
	            <div class="row">
	            	<table class="table-profile table">
	                        <tbody>
	                            <tr>
	                                <td>Name</td>
	                                <td style="font-weight:bold">Max</td>
	                            </tr>
	                            <tr>
	                                <td>BIRTH DATE</td>
	                                <td style="font-weight:bold">09/12/1989</td>
	                            </tr>
	                            <tr>
	                                <td>EMAIL</td>
	                                <td style="font-weight:bold">SARAKIKOO@gmail.com</td>
	                            </tr>
	                            <tr>
	                                <td>SEX</td>
	                                <td style="font-weight:bold">Man</td>
	                            </tr>
	                            <tr>
	                                <td>ADDRESS</td>
	                                <td style="font-weight:bold">14 rue du Tahl, Tehran</td>
	                            </tr>
	                        </tbody>
	                    </table>
	            </div>
                <div>
                    <button type="button" class="profile-black pull-right">Edit</button>
                </div>
              </div>

              <div class="col-xs-12">
                <hr style="border:1px solid #000;">
              </div>
        </div>
        <section>
       		<img src="img/banner-mobile.png" width="100%">
       	</section>

    </article> <!-- end container -->
</template>