<template name="quizaff">
	<article>
		<div class="wrapper">
			<div>
					<h1 class="pull-right">QUIZ AFFINITY<br/>LIPS</h1>
				<div>
					<img src="/img/bg-lip.png" class="img-responsive">
				</div>
				<p>
					Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description Description 
				</p>
			</div>
			<div>
				<div class="hold_refine">
					<div class="panel-heading-quiz">
						<h3 id="tuto" class="panel-title">Suggested Tuto</h3>
					</div>

		            <div id="all_tuto" style="display: none;">
				    	<div class="row">
				    		<div class="col-xs-12">
				    			<div class="swiper-container-quiz">
									<div class="swiper-wrapper">
									<div class="swiper-slide" style="background-image:url(/img/slider_600x400.jpg)"></div>
									<div class="swiper-slide" style="background-image:url(/img/slider_600x400.jpg)"></div>
									<div class="swiper-slide" style="background-image:url(/img/slider_600x400.jpg)"></div>
									<div class="swiper-slide" style="background-image:url(/img/slider_600x400.jpg)"></div>
									<div class="swiper-slide" style="background-image:url(/img/slider_600x400.jpg)"></div>
									<div class="swiper-slide" style="background-image:url(/img/slider_600x400.jpg)"></div>
									</div>
									 
									<div class="swiper-pagination"></div>
									 
									<div class="swiper-button-prev"></div>
									<div class="swiper-button-next"></div>
								</div>
				    		</div>
				    	</div>
		            </div>
		        </div>
			</div>
			<div>
				<div class="hold_refine">
					<div class="panel-heading-quiz">
						<h3 id="lipsticks" class="panel-title">Suggested Lipsticks</h3>
					</div>

		            <div id="all_lipsticks" style="display: none;">
			            <div class="row">
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/cream.png" data-src="holder.js/100%x200" alt="100%x200" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p> 
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/cream.png" data-src="holder.js/100%x200" alt="100%x200" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p>
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            </div>
			            <div class="row">
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p>
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p>
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            </div>
		            </div>
		        </div>
			</div>
			<div>
				<div class="hold_refine">
					<div class="panel-heading-quiz">
						<h3 id="lipsticks1" class="panel-title">Suggested Lipsticks</h3>
					</div>
		            <div id="all_lipsticks1" style="display: none;">
			            <div class="row">
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p> 
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p>
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            </div>
			            <div class="row">
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p>
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            	<div class="col-xs-6">
			            		<div class="thumbnail">
		                            <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
		                            <div class="caption"> 
		                                <p class="text-center">ESTÉE LAUDER PURE COLOR VERNIS À ONGLES</p>
		                                <h3 class="text-center price">21,00€</h3>
		                            </div>
		                        </div>
			            	</div>
			            </div>
		            </div>
		        </div>
			</div>
		</div>
	</article>
<script>
    var swiper = new Swiper('.swiper-container-quiz', {
        pagination: '.swiper-pagination',
        effect: 'flip',
        grabCursor: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev'
    });
</script>
</template>
