<template name="tuto">
	<article>
        <section class="shadow_bottom">
        	<div class="wrapper">
                <div class="row">
					<div class="col-xs-12">
						<div class="hold-tuto">
							<h6 class="tuto-title">Titre</h6>
							<div class="hold-tuto-videos">
								<img src="img/DSC_0558-Edit.png" class="img-responsive">
							</div>
							<div class="text-center">
								<label class="pull-right">
									<img src="img/heart-image.png">
									<span>132 personnent aiment</span>
								</label>
								<label class="">
									<img class="imgs" src="img/partager.png">
									<span>Partager</span>
								</label>
							</div>
							<div>
								<p>Synonymes de haute qualité, les créations Armani se reconnaissent par un style authentique et unique des plus élégants et un design reconnaissable et discret qui séduit les hommes et les femmes du monde entier.</p>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
					<div class="col-xs-12">
						<div class="hold-tuto">
							<h6 class="tuto-title">Titre</h6>
							<div class="hold-tuto-videos">
								<img src="img/DSC_0558-Edit.png" class="img-responsive">
							</div>
							<div class="text-center">
								<label class="pull-right">
									<img src="img/heart-image.png">
									<span>132 personnent aiment</span>
								</label>
								<label class="">
									<img class="imgs" src="img/partager.png">
									<span>Partager</span>
								</label>
							</div>
							<div>
								<p>Synonymes de haute qualité, les créations Armani se reconnaissent par un style authentique et unique des plus élégants et un design reconnaissable et discret qui séduit les hommes et les femmes du monde entier.</p>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
				</div> <!-- row -->
            </div>
        </section>
    </article>
</template>