<template name="webzinedetail">
	<article>
    	<div class="wrapper" style="margin-top: 50px;">
              <div class="title-webzin-mobile">
                  <h2>Gucci perfumes and colognes</h2>
              </div>

              <div class="space-img">
                <img src="img/man-img.png" class="img-responsive">
              </div>

               <div class="col-xs-6">
                 <div class="wrapper-icon-detail">
                  <a href=""> <i class="fa fa-facebook"></i> </a>
                 </div>
                 <div class="wrapper-icon-detail">
                  <a href=""> <i class="fa fa-twitter"></i> </a>
                 </div>
               </div>
            
               <div class="col-xs-6">
                 <div class="text-right">
                     <p class="cate-webzine-detail">Lipsticks</p>
                 </div>
               </div>

              <div class="text-webzin-mobile-detail">
                  <p> The House of Gucci was founded by Guccio Gucci in 1921. Inspired by the beautiful luggage he had seen travelers carrying while working at the Savoy Hotel in London,</p>
              </div>
         </div>
    </article>
</template>